@model IEnumerable<AspNetCoreBackend.Database.Kortit>

@{
    ViewData["Title"] = "Kortit";
}

<h2>Kortit</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kaannos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kaannos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KorttiId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KorttiId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KorttiId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
